// Add custom font
// @import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
// $font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
// @import "bootstrap";
@import 'bootstrap-variables';
@import 'bootstrap-custom';
@import "font-awesome";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*
.carousel-inner{
  width: 120%;
  margin-left: -10%;
}

@media (min-width: 1278px){
  .carousel-inner{
    width: 100%;
    margin: 0;
  }
}
*/

.carousel {
	img {
		width: 100%;
		height: auto;
	}
}


.spacer {
    margin-top: 40px; /* define margin as you see fit */
    margin-bottom: 40px; /* define margin as you see fit */
}


.background-green {
	background: #9DF716;
}


.photo {
	background: #efefef;
	box-shadow: 4px 4px 6px #333;
	padding: 15px 15px;
	
	.caption {
		padding: 5px 0px;
		text-align: center;
	}

 &.right {
	    -ms-transform: rotate(7deg); /* IE 9 */
	    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	    transform: rotate(7deg);
	}

 &.left {
	    -ms-transform: rotate(-7deg); /* IE 9 */
	    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
	    transform: rotate(-7deg);
	}



}


